.site-nav {
  @include posTL(absolute,0,0);
  @include z(nav);
  @include blockSize(100vw,100vh);
  flex-wrap: nowrap;
  display: flex;
  pointer-events: none;
  &-link {
		flex: 4 4 auto;
    position: relative;
    transition-timing-function: $easeInOutBack;
    background: $white;
    pointer-events: all;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10%;
    .open & {
			transform: scale(0);
			opacity: 0;
      &:first-child { transform: translateX(-100%); }
      &:last-child { transform: translateX(100%); }
    }
    &:before,&:after {
      content: "";
      @include posTL(absolute,0,0,1);
      @include blockSize(100%,50%);
      transition: all ease $tm;
    }
    &:after { top: 50%; }
		&-vs {
			flex: 1;
			@include respond(550px) {
				@include absoluteCenter;
				@include circle(2.5vw,2.5vh);
				z-index: 999;
				overflow: hidden;
				padding: 7vw;
			}
			&:hover {
				span { color: $white !important;
					&:first-letter { color: $white; }
				}
				&::before { background: $red; }
				&::after { background: $blue; }
			}
		}
    &:hover {
      &:before { background: $blue; }
      &:after { background: $red; }
      svg path { fill: $white; }
			span { color: $white !important; }
    }
  }
	span {
		@include absoluteCenter;
		z-index: 2;
		font-size: 5vh;
		display: block;
		line-height: 1;
		color: $red;
		&:first-letter { color: $blue; }
	}
  svg {
    max-width: 60%;
    max-height: 60%;
    width: auto;
    height: auto;
    @include absoluteCenter;
    z-index: 2;
    transition: all ease $tm;
    transform-origin: center;
    @include respond($bp) {
      max-width: 400px;
    }
  }
  @include respond(550px,max) {
    flex-direction: column;
    svg {
      max-height: 60%;
    }
  }
}
